$cWhite: white;
$cBlack: black;
$cFont:black;
$cBack:white;
$cSubTitle: #535353;
$cBgGray: #eaebe6;
$cWineRed: #904669;
$contentMaxWidth: 1280px;
$contentMaxWidth2: 1024px;
$navHeight: 100px;
$kuri:rgb(187, 145, 7);

$onlineback:rgba(255, 255, 255, 0.7);

$headerHeight:5.3rem;

