@use "../globals" as *;
@use "../parts/common" as *;

.onecup{

    height:100%;
    background-color: white;
    
    &__inner{
        height:100%;
        max-width:450px;
        @extend .content-width;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        .update{
            text-align: center;
            margin-bottom: 1em;
            a{
                display: inline-block;
                height:35px;
                width:35px;
                border:1px solid rgb(128, 127, 127);
                border-radius: 50%;
                padding:0.4em;
            }
        }

        .record{
            flex-grow: 1;
            border:1px solid black;
            border-radius: 10px;
            width:100%;
            padding-inline:0.5em;
            overflow-y:scroll;
            
            table{
                text-align:left;
                font-size:0.8em;
                width:100%;
                .yes{
                    background-color: rgb(236, 236, 236);
                }
                tr{
                    border-bottom:solid 1px black;
                    td{
                        padding-top:1em;
                        padding-inline: 0.2em;
                    }
                }
            }
        }
    }  

}